*{
    margin: 0;
}

body{
    background-color: #050b13 ;
}

/*  estilos HEADER */

.header{
    width: 100%;
    display: flex;
    background-color: aliceblue;
    margin-bottom: 2rem;
}
.title, .link__menu{
    display: inline-block;
    text-decoration: none;
}
.logo{
    display: flex;
    justify-content: end;
    width:40%;
    background-color: #0f213b
}
.nav{
    display: flex;
    justify-content: center;
    column-gap: 3rem;
    width:60%;
    background-color: #0f213b
}
.link__menu{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    letter-spacing: 0.2rem;
}
.link__menu:hover{
    text-decoration: none;
    color: burlywood;
}
.title{
    font-family: 'Roboto', sans-serif;
    color: white;
    letter-spacing: 0.2rem;
}

/* estilos MAIN */
.main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.texto{
    width: 40%;
    border:3px solid rgb(23, 23, 206);
}
.img{
    width: 40%;
    border: 3px solid red;
}
.img2{
    width: 40%;
    border: 3px solid yellow;
}
.texto2{
    width: 40%;
    border:3px solid aquamarine;
}




/* estilos FOOTER */